{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <!-- icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- extra css -->
    <!-- <link href="{% static 'css/reset.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light" style="background-color: #e3f2fd;">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand logo" href="{% url 'home' %}"><img height="46" src="{% static "images/tonestock_logo.svg" %}" alt="logo"> </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tones:all_tone_list' %}">Tone Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tones:add_tone' %}">プリセットを追加</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.profile.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="{% url 'tones:user_tone_list' %}">マイプリセット</a>
                        <a class="nav-link" href="{% url 'user_gear_list' %}">マイ機材</a>
                        <a class="nav-link" href="{% url 'users:edit_profile' user.profile.pk %}">プロフィール編集</a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-link" href="{% url 'users:logout' %}">ログアウト</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tones:all_tone_list' %}">Tone Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href="{% url 'users:login' %}">ログイン</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-info btn-m mx-3" href="{% url 'users:signup' %}">アカウント作成</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block homepage %}
    {% endblock %}

    <div class="container py-3">
        {% block content %}
        {% endblock %}
    </div>

    {% block extrajs %}
    {% endblock %}
</body>
</html>