{% extends 'base.html'%}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block homepage %}
<header>
    <section class="header-wrapper container">
    <div class="copy">
        <div class="en_copy"><span>TUNE.</span><img src="{% static "images/gears.svg" %}" alt="" height="80px"></div>
        <div class="en_copy"><span>SHARE.</span><img src="{% static "images/network.svg" %}" alt="" height="80px"></div>
        <div class="en_copy"><span>PLAY.</span><img src="{% static "images/maloik.svg" %}" alt="" height="80px"></div>
        <p class="ja_copy">tonestock - share your tone.</p>
    </div>
    <div id='test'>
        <test></test>
    </div>
    
    {% render_bundle 'main' %}
    </section>
</header>
{% endblock %}