{% extends 'base.html' %}

{% load static %}

{% block content %}
<link href="{% static 'css/user_gear_list.css' %}" rel="stylesheet">

<h2>マイ機材</h2>
<div class="row mt-5">
    {% csrf_token %}
    <div class="col-sm-4" id="add-instrument" data="{{ instrument_list }}">
        <div>
            <span class="gear-type">楽器</span>
            <button type="button" class="btn btn-secondary btn-sm add-gear" data-toggle="modal" data-target="#addInstrumentModal">+</button>
        </div>
        <gear
        v-for="(instrument, index) in instruments"
        :key="index"
        v-bind:name="instrument.name"
        v-bind:brand="instrument.brand"
        v-bind:type="instrument.type"></gear>
        <!-- Add instrument modal -->
        <div class="modal fade" id="addInstrumentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">楽器を追加</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="instrument-name">名前</label>
                        <input class="form-control" id="instrument-name" type="text" v-model="addInstrumentName">
                    </div>
                    <div class="form-group">
                        <label for="instrument-brand">ブランド</label>
                        <input class="form-control" id="instrument-brand" type="text" v-model="addInstrumentBrand">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="instrument-type" id="guitar" value="ギター" v-model="addInstrumentType" :checked="addInstrumentType === 'ギター'">
                        <label class="form-check-label" for="guitar">
                            ギター
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="instrument-type" id="bass" value="ベース" v-model="addInstrumentType" :checked="addInstrumentType === 'ベース'">
                        <label class="form-check-label" for="bass">
                            ベース
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="addInstrument">追加</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div>
            <span class="gear-type">エフェクター</span>
            <button type="button" class="btn btn-secondary btn-sm add-gear" data-toggle="modal" data-target="#addPedalModal">+</button>
        </div>
        {% if pedals|length > 0 %}
            {% for pedal in pedals %}
            <div class="card mt-3 mr-2 gear-card">
                <div class="card-body">
                    <div class="options">
                        <i class="fas fa-chevron-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'pedals:edit_pedal' pedal.pk %}">編集</a>
                            <a class="dropdown-item" href="{% url 'pedals:delete_pedal' pedal.pk %}">削除</a>
                        </div>
                    </div>
                    <h5 class="gear-name"><a href="{% url 'pedals:detail' pedal.pk %}">{{ pedal.name }}</a></h5>
                    <small>{{ pedal.brand }}</small><br>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="col-sm-4">
        <div>
            <span class="gear-type">アンプ</span>
            <button type="button" class="btn btn-secondary btn-sm add-gear" data-toggle="modal" data-target="#addAmpModal">+</button>
        </div>
        {% if amps|length > 0 %}
            {% for amp in amps %}
            <div class="card mt-3 mr-2 gear-card">
                <div class="card-body">
                    <div class="options">
                        <i class="fas fa-chevron-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'amps:edit_amp' amp.pk %}">編集</a>
                            <a class="dropdown-item" href="{% url 'amps:delete_amp' amp.pk %}">削除</a>
                        </div>
                    </div>
                    <h5 class="gear-name"><a href="{% url 'amps:detail' amp.pk %}">{{ amp.name }}</a></h5>
                    <small>{{ amp.brand }}</small><br>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/user_gear_list.js' %}"></script>
{% endblock %}