{% extends 'base.html' %}

{% load static %}

{% block content %}
<link href="{% static 'css/user_gear_list.css' %}" rel="stylesheet">

<h2>My Gears</h2>
{% if instruments|length_is:"0" and pedals|length_is:"0" and amps|length_is:"0" %}
    <p>まだ機材が一個もありません。</p>
    <p>ぜひ自分の機材をtonestockに登録しましょう！</p>
    <a class="btn btn-primary" href="{% url "add_gears" %}">機材を登録</a>
{% endif %}

<div class="row mt-5">
    <div class="col-sm-4">
        <span class="gear-type">楽器</span><a class="add-gear" href="{% url 'instruments:add_instrument' %}"><i class="fas fa-plus"></i></a>
        {% if instruments|length > 0 %}
            {% for instrument in instruments %}
            <div class="card mt-3 mr-2 gear-card">
                <div class="card-body">
                    <div class="options">
                        <i class="fas fa-chevron-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'instruments:edit_instrument' instrument.pk %}">編集</a>
                            <a class="dropdown-item" href="{% url 'instruments:delete_instrument' instrument.pk %}">削除</a>
                        </div>
                    </div>
                    <h5 class="gear-name"><a href="{% url 'instruments:detail' instrument.pk %}">{{ instrument.name }}</a></h5>
                    <small>{{ instrument.brand }}</small><br>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="col-sm-4">
            <span class="gear-type">エフェクター</span><a class="add-gear" href="{% url 'pedals:add_pedal' %}"><i class="fas fa-plus"></i></a>
        {% if pedals|length > 0 %}
            {% for pedal in pedals %}
            <div class="card mt-3 mr-2 gear-card">
                <div class="card-body">
                    <div class="options">
                        <i class="fas fa-chevron-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'pedals:edit_pedal' pedal.pk %}">編集</a>
                            <a class="dropdown-item" href="{% url 'pedals:delete_pedal' pedal.pk %}">削除</a>
                        </div>
                    </div>
                    <h5 class="gear-name"><a href="{% url 'pedals:detail' pedal.pk %}">{{ pedal.name }}</a></h5>
                    <small>{{ pedal.brand }}</small><br>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="col-sm-4">
        <span class="gear-type">アンプ</span><a class="add-gear" href="{% url 'amps:add_amp' %}"><i class="fas fa-plus"></i></a>
        {% if amps|length > 0 %}
            {% for amp in amps %}
            <div class="card mt-3 mr-2 gear-card">
                <div class="card-body">
                    <div class="options">
                        <i class="fas fa-chevron-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'amps:edit_amp' amp.pk %}">編集</a>
                            <a class="dropdown-item" href="{% url 'amps:delete_amp' amp.pk %}">削除</a>
                        </div>
                    </div>
                    <h5 class="gear-name"><a href="{% url 'amps:detail' amp.pk %}">{{ amp.name }}</a></h5>
                    <small>{{ amp.brand }}</small><br>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}