ul {
    list-style: none;
    cursor: default;
}

input[type="text"] { 
  width: 120px; 
}

.options {
  float: right;
  cursor: hand;
  cursor: pointer;
}

.edit {
  cursor: hand;
  cursor: pointer;
  font-weight: lighter;
}

.sortable-chosen {
  opacity: 0.7;
  background-color:#dcdcdc;
}
.sortable-ghost {
  background-color:#dcdcdc;
}