{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<form method="POST" enctype='multipart/form-data'>
    {{ user_form.non_field_errors }}
    {{ profile_form.non_field_errors }}
    {% for field in profile_form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field|add_class:"form-control" }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% for field in user_form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field|add_class:"form-control" }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-lg">仮登録</button>
</form>
{% endblock %}