{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!-- left side -->
    <div class="col-sm-4">
        {% if object.profile.image %}
            <img src="{{ object.profile.image.url }}" id="preview" style="width:200px;"><br>
        {% else %}
        <div class="">
            <i class="fas fa-image" style="font-size:200px; color: #333;"></i>
        </div>
        {% endif %}
        <h3>{{ object.profile.username }}</h3>
        <span class="num_follower">{{ object.profile.followed_by.all|length }}</span> followers
        <span>{{ object.profile.follows.all|length }}</span>
         follows
        <br>
        {% if user != object %}
            {% include 'users/_follow_button.html' %}
        {% endif %}
    </div>
    <!-- right side -->
    <div class="col-sm-8">
        <div>
            <h4>Instruments</h4>
            {% for instrument in object.instruments.all %}
                <div>
                    {% if instrument.image %}
                        <img src="{{ instrument.image.url }}"  style="width:100px;"><br>
                    {% endif %}
                    {{ instrument.name }} ({{ instrument.brand }})
                </div>
            {% endfor %}
        </div>
        
        <div class="mt-5">
            <h4>Pedals</h4>
            {% for pedal in object.pedals.all %}
            <div>
                {% if pedal.image %}
                    <img src="{{ pedal.image.url }}"  style="width:100px;"><br>
                {% endif %}
                {{ pedal.name }} ({{ pedal.brand }})
            </div>
            {% endfor %}   
        </div>
        
        <div class="mt-5">
            <h4>Amps</h4>
            {% for amp in object.amps.all %}
            <div>
                {% if amp.image %}
                    <img src="{{ amp.image.url }}"  style="width:100px;"><br>
                {% endif %}
                {{ amp.name }} ({{ amp.brand }})
            </div>
            {% endfor %}   
        </div>

        <div class="mt-5">
            <h4>Tones</h4>
            {% for tone in object.tones.all %}
                <p><a href="{% url 'tones:detail' tone.pk %}">{{ tone.info.name }}</a></p>
            {% endfor %}   
        </div>
    </div>
</div>


{% endblock %}