{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for user_object in user_list %}
        {% if user_object.profile and user_object != user %}
            <div class="my-3">
                {{ user_object.profile.username }}
                {% if user.profile in user_object.profile.followed_by.all %} 
                    <button class="btn btn-outline-danger follow-btn" 
                    data-href="{% url 'users:follow_toggle' user_object.pk %}">Unfollow</button>
                {% else %}
                    <button class="btn btn-outline-primary follow-btn" 
                    data-href="{% url 'users:follow_toggle' user_object.pk %}">Follow</button>
                {% endif %}
                <div>
                    Followers:
                    {% for follower in user_object.profile.followed_by.all %}
                        {% if user.profile != follower %}
                            {{ follower }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block extrajs %}
<script src="{% static "users/js/follow.js" %}"></script>
{% endblock %}