{% extends 'base.html' %}

{% block content %}
    {% for object in object_list %}
        {% if object.profile and object != user %}
            <div class="my-3">
                <a href="{% url 'users:detail' object.pk %}">{{ object.profile.username }}</a>
                {% include 'users/_follow_button.html' %}
                <br>
                <span class="num_follower">{{ object.profile.followed_by.all|length }}</span> followers <br>
                <span class="num_follows">{{ object.profile.follows.all|length }}</span> follows <br>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}