.gear-type {
    font-size: 22px;
    vertical-align: middle;
}

.add-gear {
    color: #fff;
    padding: 0.3px 5px;
    margin-left: 10px;
    cursor: hand;
    cursor: pointer;
}

.gear-card a {
    color: #333;
}

.gear-name {
    font-size: 18px;
    white-space: nowrap;
}

.options {
    float: right;
    cursor: hand;
    cursor: pointer;
}