{% load static %}
<link href="{% static 'tones/css/tone_edit.css' %}" rel="stylesheet">

{% csrf_token %}
<div class="mt-3" id="tone-name">
    <div class="mb-4">
        <tone-name 
        v-bind:name="toneName"
        @edit-tone-name="handleEditToneName"></tone-name>
    </div>
    <!-- Edit Tone Name Modal -->
    <div class="modal fade" id="toneNameEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">プリセット名を変更</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tone-edit-name">Name</label>
                        <input class="form-control" id="tone-edit-name" type="text" v-model="editToneName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveToneNameEdit">変更</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="px-auto">
    <div class="row">
        <!-- Instruments -->
        <instrument
        v-bind:name="instrumentName"
        v-bind:brand="instrumentBrand"
        v-bind:type="instrumentType"
        @edit-instrument="handleEditInstrument"></instrument>
        <!-- Edit Instrument Modal -->
        <div class="modal fade" id="instrumentEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">楽器を編集</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="instrument-edit-name">Name</label>
                        <input class="form-control" id="instrument-edit-name" type="text" v-model="editInstrumentName">
                    </div>
                    <div class="form-group">
                        <label for="instrument-edit-brand">Brand</label>
                        <input class="form-control" id="instrument-edit-brand" type="text" v-model="editInstrumentBrand">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="instrument-type" id="guitar" value="Guitar" v-model="editInstrumentType" :checked="instrumentType === 'Guitar'">
                        <label class="form-check-label" for="guitar">
                            Guitar
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="instrument-type" id="bass" value="Bass" v-model="editInstrumentType" :checked="instrumentType === 'Bass'">
                        <label class="form-check-label" for="bass">
                            Bass
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveInstrumentEdit">変更</button>
                </div>
            </div>
            </div>
        </div>
        <!-- Pedals -->
        <div class="col-sm-7" id="pedal-area">
            <ul class="list-inline">
                <draggable v-model='pedals' @end="reorderAfterDrag">
                    <pedal-item
                    v-for="pedal in pedals"
                    :key="pedal.no"
                    v-bind:no="pedal.no"
                    v-bind:name="pedal.name"
                    v-bind:brand="pedal.brand"
                    v-bind:type="pedal.type"
                    @edit-pedal="handleEditPedal"
                    @destroy="handleDestroy"></pedal-item>
                </draggable>
            </ul>
            <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#pedalAddModal">エフェクター追加</button>
            <!-- Add Pedal Modal -->
            <div class="modal fade" id="pedalAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">エフェクターを追加</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="pedal-add-name">Name</label>
                            <input class="form-control" id="pedal-add-name" type="text" v-model="addPedalName">
                        </div>
                        <div class="form-group">
                            <label for="pedal-add-brand">Brand</label>
                            <input class="form-control" id="pedal-add-brand" type="text" v-model="addPedalBrand">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pedal-type-add" id="stompbox-add" value="Stomp Box" v-model="addPedalType" :checked="addPedalType == 'Stomp Box'">
                            <label class="form-check-label" for="stompbox">
                                Stomp Box
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pedal-type-add" id="multi-effects-add" value="Multi Effects" v-model="addPedalType" :checked="addPedalType === 'Multi Effects'">
                            <label class="form-check-label" for="multi-effects">
                                Multi Effects
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="addPedal">追加</button>
                    </div>
                </div>
                </div>
            </div>
            <!-- Edit Pedal Modal -->
            <div class="modal fade" id="pedalEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">エフェクターを編集</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="pedal-edit-name">Name</label>
                            <input class="form-control" id="pedal-edit-name" type="text" v-model="editPedalName">
                        </div>
                        <div class="form-group">
                            <label for="pedal-edit-brand">Brand</label>
                            <input class="form-control" id="pedal-edit-brand" type="text" v-model="editPedalBrand">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pedal-type-edit" id="stompbox-edit" value="Stomp Box" v-model="editPedalType" :checked="editPedalType == 'Stomp Box'">
                            <label class="form-check-label" for="stompbox">
                                Stomp Box
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pedal-type-edit" id="multi-effects-edit" value="Multi Effects" v-model="editPedalType" :checked="editPedalType === 'Multi Effects'">
                            <label class="form-check-label" for="multi-effects">
                                Multi Effects
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="savePedalEdit">変更</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- Amp -->
        <amp
        v-bind:name="ampName"
        v-bind:brand="ampBrand"
        v-bind:type="ampType"
        @edit-amp="handleEditAmp"></amp>
        <!-- Edit Amp Modal -->
        <div class="modal fade" id="ampEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">アンプを編集</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="amp-edit-name">Name</label>
                        <input class="form-control" id="amp-edit-name" type="text" v-model="editAmpName">
                    </div>
                    <div class="form-group">
                        <label for="amp-edit-brand">Brand</label>
                        <input class="form-control" id="amp-edit-brand" type="text" v-model="editAmpBrand">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="amp-type" id="tube" value="Tube" v-model="editAmpType" :checked="ampType == 'Tube'">
                        <label class="form-check-label" for="tube">
                            Tube
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="amp-type" id="solidstate" value="Solid State" v-model="editAmpType" :checked="ampType === 'Solid State'">
                        <label class="form-check-label" for="solidstate">
                            Solid State
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveAmpEdit">変更</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>  
<div class="mt-5">
    <button type="button" class="btn btn-primary" @click="submit">保存</button>    
</div>