{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}



{% block content %}
<link href="{% static 'tones/css/add_tone.css' %}" rel="stylesheet">

<div class="contain mt-5">
    <h2 class="title">プリセット作成</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group" style="width: 15rem;">
            {{ formset.tone.name.label }}
            {{ formset.tone.name|add_class:"form-control" }}
        </div>
        <div class="px-auto">
            <div class="row">
                <!-- Instruments -->
                <div class="card mx-2 pedal-card" style="height: 20rem;">
                    <div class="col-sm card-body">
                        <div class="form-group">
                            {{ formset.instrument.name.label }}
                            {{ formset.instrument.name|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ formset.instrument.brand.label }}
                            {{ formset.instrument.brand|add_class:"form-control" }}
                        </div>
                        <div class="form-check">
                            {{ formset.instrument.type.label}} 
                            {{ formset.instrument.type|add_class:"form-check-input" }}
                        </div>
                    </div>
                </div>
                <!-- Pedals -->
                <div class="col-sm-7" id="pedal-area">
                    <ul class="list-inline" id='pedal-sortable'>
                        <li class="list-inline-item" id="pedal1">
                            <div class="card mx-1 pedal-card">
                                <div class="card-body">
                                    1
                                    <div class="form-group">
                                        <label for="">Pedal Name:</label>
                                        <input class="form-conrol" type="text" id="pedal1-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Brand: </label>
                                        <input class="form-conrol" type="text" id="pedal1-brand">
                                    </div>
                                    <button type="button" class="btn btn-primary" id='pedal1-button'>OK</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- ペダル追加 -->
                    <button type="button" class="btn btn-success" id="add-pedal">+</button>
                    <!-- 送信 -->
                    <button type="button" class="btn btn-primary" data-href="{% url 'tones:test' %}" id="confirm">OK</button>
                </div>
                <!-- <button type="button" class="btn btn-success add-pedal align-self-center" >+</button> -->
                <!-- Amp -->
                <div class="card mx-2" style="height: 20rem;">
                    <div class="col-sm card-body">
                        <div class="form-group">
                            {{ formset.amp.name.label }} 
                            {{ formset.amp.name|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ formset.amp.brand.label }} 
                            {{ formset.amp.brand|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ formset.amp.type.label }}
                            {{ formset.amp.type|add_class:"form-check-input" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input class="btn btn-primary mt-5" type="submit" value="登録">
    </form>    
</div>


<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="form-group">
                <label for="">Pedal Name:</label>
                <input class="form-conrol" type="text">
            </div>
            <div class="form-group">
                    <label for="">Brand: </label>
                    <input class="form-conrol" type="text">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>      
{% endblock %}

{% block extrajs %}
<script src="{% static 'tones/js/add_tones.js' %}"></script>

<script type="text/html" id='pedal-template'>
    <li class="list-inline-item" id="pedal__pedal_number__">
        <div class="card mx-1 pedal-card">
            <div class="card-body">
                __pedal_number__
                <div class="form-group">
                    <label for="">Pedal Name:</label>
                    <input class="form-conrol" type="text" id="pedal__pedal_number__-name">
                </div>
                <div class="form-group">
                    <label for="">Brand: </label>
                    <input class="form-conrol" type="text" id="pedal__pedal_number__-brand">
                </div>
                <button type="button" class="btn btn-primary" id='pedal__pedal_number__-button'>OK</button>
            </div>
        </div>
    </li>
</script>
{% endblock %}