{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="contain mt-5">
    <h2>プリセット作成</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group" style="width: 15rem;">
            {{ formset.tone.name.label }}
            {{ formset.tone.name|add_class:"form-control" }}
        </div>
        <div class="px-auto">
            <div class="row justify-content-center">
                <!-- Instruments -->
                <div class="card mx-4" style="height: 20rem;">
                    <div class="col-sm card-body">
                        <div class="form-group">
                            {{ formset.instrument.name.label }}
                            {{ formset.instrument.name|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ formset.instrument.brand.label }}
                            {{ formset.instrument.brand|add_class:"form-control" }}
                        </div>
                        <div class="form-check">
                            {{ formset.instrument.type.label}} 
                            {{ formset.instrument.type|add_class:"form-check-input" }}
                        </div>
                    </div>
                </div>
                <!-- Pedals -->
                {{ formset.management_form }}
                {% for form in formset.pedal %}
                <div class="card mx-1" style="height: 20rem;">
                    <div class="col-sm card-body">
                        <div class="form-group">
                                {{ form.name.label }} 
                                {{ form.name|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                {{ form.brand.label }} 
                                {{ form.brand|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                {{ form.type.label }} 
                                {{ form.type|add_class:"form-check-input" }}
                            </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Amp -->
                <div class="card mx-5" style="height: 20rem;">
                    <div class="col-sm card-body">
                        <div class="form-group">
                            {{ formset.amp.name.label }} 
                            {{ formset.amp.name|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ formset.amp.brand.label }} 
                            {{ formset.amp.brand|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ formset.amp.type.label }}
                            {{ formset.amp.type|add_class:"form-check-input" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input class="btn btn-primary mt-5" type="submit" value="登録">
    </form>    
</div>

{% endblock %}