{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}



{% block content %}
<link href="{% static 'tones/css/add_tone.css' %}" rel="stylesheet">

<div class="contain mt-5">
    <h2 class="title">プリセット作成</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group" style="width: 15rem;">
            {{ formset.tone.name.label }}
            {{ formset.tone.name|add_class:"form-control" }}
        </div>
        <div class="px-auto">
            <div class="row">
                <!-- Instruments -->
                <div class="card mx-2 pedal-card" style="height: 20rem;">
                    <div class="col-sm card-body">
                        <div class="form-group">
                            {{ formset.instrument.name.label }}
                            {{ formset.instrument.name|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ formset.instrument.brand.label }}
                            {{ formset.instrument.brand|add_class:"form-control" }}
                        </div>
                        <div class="form-check">
                            {{ formset.instrument.type.label}} 
                            {{ formset.instrument.type|add_class:"form-check-input" }}
                        </div>
                    </div>
                </div>
                <!-- Pedals -->
                <div class="col-sm-7" id="pedal-area">
                    <ul class="list-inline">
                        <draggable v-model='pedals' @end="reorderAfterDrag">
                            <pedal-item
                            v-for="pedal in pedals"
                            :key="pedal.no"
                            v-bind:no="pedal.no"
                            v-bind:name="pedal.name"
                            v-bind:brand="pedal.brand"
                            @edit="handleEdit"
                            @destroy="handleDestroy"></pedal-item>
                        </draggable>
                    </ul>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#pedalAddModal">+</button>
                    <button type="button" class="btn btn-primary" @click="submitPedal">Submit</button>
                    <!-- Add Pedal Modal -->
                    <div class="modal fade" id="pedalAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Pedal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="pedal-add-name">Name</label>
                                    <input class="form-control" id="pedal-add-name" type="text" v-model="addName">
                                </div>
                                <div class="form-group">
                                    <label for="pedal-add-brand">Brand</label>
                                    <input class="form-control" id="pedal-add-brand" type="text" v-model="addBrand">
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" @click="addPedal">Add Pedal</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- Edit Pedal Modal -->
                    <div class="modal fade" id="pedalEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Pedal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="pedal-edit-name">Name</label>
                                    <input class="form-control" id="pedal-edit-name" type="text" v-model="editName">
                                </div>
                                <div class="form-group">
                                    <label for="pedal-edit-brand">Brand</label>
                                    <input class="form-control" id="pedal-edit-brand" type="text" v-model="editBrand">
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveEdit">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Amp -->
                <div class="card mx-2" style="height: 20rem;">
                    <div class="col-sm card-body">
                        <div class="form-group">
                            {{ formset.amp.name.label }} 
                            {{ formset.amp.name|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ formset.amp.brand.label }} 
                            {{ formset.amp.brand|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ formset.amp.type.label }}
                            {{ formset.amp.type|add_class:"form-check-input" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input class="btn btn-primary mt-5" type="submit" value="登録">
    </form>    
</div>


<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="form-group">
                <label for="">Pedal Name:</label>
                <input class="form-conrol" type="text">
            </div>
            <div class="form-group">
                    <label for="">Brand: </label>
                    <input class="form-conrol" type="text">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>      
{% endblock %}

{% block extrajs %}
<script src="{% static 'tones/js/add_tones.js' %}"></script>

<script type="text/html" id='pedal-template'>
    <li class="list-inline-item" id="pedal__pedal_number__">
        <div class="card mx-1 pedal-card">
            <div class="card-body">
                __pedal_number__
                <div class="form-group">
                    <label for="">Pedal Name:</label>
                    <input class="form-conrol" type="text" id="pedal__pedal_number__-name">
                </div>
                <div class="form-group">
                    <label for="">Brand: </label>
                    <input class="form-conrol" type="text" id="pedal__pedal_number__-brand">
                </div>
                <button type="button" class="btn btn-primary" id='pedal__pedal_number__-button'>OK</button>
                <!-- ペダル削除 -->
                <button type="button" class="btn btn-danger remove-pedal">-</button>
            </div>
        </div>
    </li>
</script>
{% endblock %}