{% extends 'base.html' %}

{% block content %}
<h2>{{ tone.info.name }}</h2>
<div class="mt-3">
    {% include 'tones/_favorite_button.html' %}
    <span class="num_favs ml-2">{{ tone.fav_by.all|length }}</span>
</div>
<div class="row mx-auto mt-5">
    <div class="col-sm-4">
        <h3>楽器</h3>
        <h5>{{ tone.info.instrument.name }}</h5>
        <p>Brand: {{ tone.info.instrument.brand }}</p>
        <p>Type: {{ tone.info.instrument.type }}</p>
    </div>
    
    <div class="col-sm-4">
        <h3>エフェクター</h3>
        {% for pedal in tone.info.pedals %}
            <span>{{ pedal.no }}</span><h5>{{ pedal.name }}</h5>
            <p>Brand: {{ pedal.brand }}</p>
            <p>Type: {{ pedal.type }}</p>
        {% endfor %}
    </div>
    
    <div class="col-sm-4">
        <h3>アンプ</h3>
        <h5>{{ tone.info.amp.name }}</h5>
        <p>Brand: {{ tone.info.amp.brand }}</p>
        <p>Type: {{ tone.info.amp.type }}</p>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static "tones/js/favorite.js" %}"></script>
{% endblock %}