{% extends 'base.html' %}

{% load static %}

{% block content %}
<link href="{% static 'tones/css/user_tone_list.css' %}" rel="stylesheet">

<h2 class="title">My Tones</h2>
<div class="row">
    {% for tone in user_tones %}
        <div class="col-sm-4 my-5">
            <div class="card tone-card">
                <div class="card-body">
                    <h5 class="tone-name"><a href="{% url 'tones:detail' tone.pk %}">{{ tone.info.name }}</a></h5>
                    <a class="fas fa-edit" href="{% url 'tones:edit_tone'  tone.pk %}"></a>
                    <a class="fas fa-trash-alt" href="{% url 'tones:delete'  tone.pk %}"></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}