{% extends 'base.html' %}

{% load static %}
{% load render_bundle from webpack_loader %}
{% block content %}
<link href="{% static 'tones/css/user_tone_list.css' %}" rel="stylesheet">

<h2 class="title">マイプリセット</h2>
<div class="row" id="user-tone-list" data="{{ tone_list }}">
    {% csrf_token %}
    <tone-card
        v-for="(tone, index) in tones"
        :key="index"
        v-bind:name="tone.name"
        v-bind:index="index"
        @destroy="confirmDestroy"></tone-card>
        <!-- Tone Delete Confirmation Modal -->
        <div class="modal fade" id="deleteToneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                <span id="deletingToneName"></span>を本当に削除しますか？
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-danger" @click="executeDestroy" data-dismiss="modal">削除</button>
                </div>
            </div>
            </div>
        </div>
</div>
{% render_bundle 'main' %}
{% endblock %}