{% extends 'base.html' %}

{% load static %}

{% block content %}
<link href="{% static 'tones/css/user_tone_list.css' %}" rel="stylesheet">

<h2 class="title">My Tones</h2>
<div class="row">
    {% for tone in user_tones %}
        <div class="col-sm-4 my-5">
            <div class="card tone-card">
                <div class="card-body">
                    <div class="options">
                        <i class="fas fa-chevron-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'tones:edit_tone'  tone.pk %}">編集</a>
                            <a class="dropdown-item" href="{% url 'tones:delete'  tone.pk %}">削除</a>
                        </div>
                    </div>
                    <h5><a class="tone-name" href="{% url 'tones:detail' tone.pk %}">{{ tone.info.name }}</a></h5>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}